{% extends 'base.html' %}
{% block title %}
EQUIPMENT
{% endblock title %}



{% block body %}
 <h3 class="text-center"><span>Add EQUIPMENT Details</span> </h3>
  
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
<br>
<div class="container">

<div class="row">

<div class="col-md-4"></div>
<div class="col-md-4">

<form action="/addstudent" method="post">
<div class="form-group">

<label for="orderno">ORDER ID</label>
<input type="text" class="form-control" name="orderno" id="orderno">
</div>
<br>
<div class="form-group">

<label for="ename">Equipment Name</label>
<input type="text" class="form-control" name="ename" id="ename">
</div>
<br>

<div class="form-group">

<label for="edate">Received Date</label>
<input type="text" class="form-control" name="edate" id="edate">
</div>
<br>
<div class="form-group">

<label for="pur">Purchased From</label>
<input type="text" class="form-control" name="pur" id="pur">
</div>
<br>

<div class="form-group">

<label for="amt">Total Amount</label>
<input type="number" class="form-control" name="amt" id="amt">
</div>
<br>
<div class="form-group">                          
<select  class="form-control" id="cond" name="cond"  required>
        <option selected>Equipment Condition</option>
    
        <option value="Serviceable">Serviceable</option>
        <option value="Unserviceable">Unserviceable</option>
       
      </select>
 </div>
<br>

<div class="form-group">                          
<select class="form-control" id="branch" name="branch"  required>
        <option selected>Department</option>
        {% for d in dept  %}
        <option value="{{d.branch}}">{{d.branch}}</option>
        {% endfor %}
      </select>
 </div>
<br>

  
<div class="form-group">
<label for="rname">Room Name</label>
<input type="text" class="form-control" name="rname" id="rname">
</div>
<br>
<div class="form-group">
  <label for="qnty">EQUIPMENT QUANTITY</label>
  <input type="number" class="form-control" name="qnty" id="qnty">
  </div>
  <br>

  
  <button type="submit" class="btn btn-danger btn-sm btn-block">Add Record</button>
</form>
<br>
<br>

</div>

<div class="col-md-4"></div>

</div></div>



{% endblock body %}